<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTrash - A modern waste management system</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1 0 auto;
        }

        footer {
            flex-shrink: 0;
        }

        #sidebar {
            width: 250px;
            height: 100%;
            background-color: #333;
            color: #fff;
            position: fixed;
            top: 70px;
            left: 0;
        }

        #sidebar ul {
            list-style-type: none;
            padding: 0;
        }

        #sidebar ul li {
            padding: 10px;
            border-bottom: 1px solid #555;
        }

        #sidebar ul li a {
            color: #fff;
            text-decoration: none;
        }

        #content {
            margin-left: 250px;
            padding: 20px;
        }

        #processing {
            display: none;
            height: 100vh;
            width: 100vw;
            background-color: #f2f2f2a1;
            position: fixed;
            top: 0;
            background-image: url("/images/processing.gif");
            background-repeat: no-repeat;
            background-position: center center;
            content: "Loading";
            background-size: 20% auto;
        }


        /* Modal styles */
        .bg-opacity-75 {
            backdrop-filter: blur(5px);
        }

        .animate-spin {
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>